body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
}

h2 {
    color: #333333;
    font-size: 18px;
    margin-top: 20px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

form {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#microphoneBtn {
    background-color: #337ab7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#microphoneBtn.inactive {
    background-color: #337ab7;
}

#microphoneBtn.active {
    background-color: #286090;
}

.message {
    margin-bottom: 10px;
}

.user {
    color: blue;
}

.ai {
    color: red;
}

.error {
    color: red;
    font-size: 14px;
}
